<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/invest-style.css">
    <link rel="icon" href="images/favicon1.png" type="image/png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <title>Document</title>
</head>
<body>
    <div class="back"><a  type="submit" href="HomePage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
    <div class="form-wrapper">
        <div class="form-container">
            <form action="/invest" method="POST">
                <label for=" User_Name">User Email</label><br>
                <input type="text" name="User_email" id="User_Name"><br>
                <label for=" Company_Name">Company Name</label><br>
                <input type="text" name="Company_Name" id="Company_Name"><br>
                <label for="doi">Date of Investment</label><br>
                <input type="date" name="DOI" id="doi"><br>
                <label for="trans_id ">Transaction ID</label><br>
                <input type="text" name="ti" id="trans_id"><br>
                <label for="time">Time</label><br>
                <input type="time" name="time" id="time"><br>
                <label for="vol">Volume</label><br>
                <input type="text" name="vol" id="vol"><br>
                <label for="buy_price">Buy Price</label><br>
                <input type="text" name="buy_price" id="buy_price"><br>
                <button type="submit">ADD</button><br>
                
            </form>
        </div>
        
    </div>
    <div class="Info" >
        <table>
            <tr>
                <th>User Email</th>
                <th>Company Name</th>
                <th>Date of Investment</th>
                <th>Transaction ID</th>
                <th>Time</th>
                <th>Volume</th>
                <th>Buy Price</th>
                <th>Total Investment</th>
            </tr>
           
                <%InvestData.forEach(function(item){%>
                    <tr>
                        <td><%=item.User_email%></td>
                        <td><%=item.Company_name%></td>
                        <td><%=item.DOI%></td>
                        <td><%=item.TI%></td>
                        <td><%=item.Time%></td>
                        <td><%=item.Volume%></td>
                        <td><%=item.Buy_price%></td>
                        <td><%=item.TOI%></td>
                        
                    </tr>
                <%})%>
           
            
        </table>
        
    </div>
</body>
</html>